<div class='container projects'>
  <% @user.projects.each_with_index do |project, index| %>
  <div class='row project'>
    <div class='col-md-6'>
      <div class='project_img'>
        <%= link_to(image_tag(project.image, class: 'img-responsive'), project.link) %>
      </div>
    </div>
    <div class='col-md-6'>
      <h1 class='project_heading'><strong> <%= link_to(project.name, project.link, class: 'project_heading') %> </strong></h1>
      <p class='project_desc'> <%= project.description %> </p>
      <ul class='skills'>
        <% project.skills.each do |skill| %>
        <li class="tags"> <%= skill.tag %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= content_tag(:hr) unless index == @user.projects.size - 1 %>
  <% end %>
</div>
