<div id='home' class='home_section'>
  <%= render  'home' %>
</div>
<div id='projects' class='projects_section'>
  <%= render 'projects' %>
</div>
<div id='blog' class='blog_section'>
  <%= render 'blog_posts' %>
</div>
<div id='summary' class='summary_section'>
  <%= render 'summary' %>
</div>
<div id='contact' class='contact_section'>
  <%= render 'contact' %>
</div>
